:root {
  /* text-align: center; */
}

body {
  margin: 0px;
}
header {
  color: white;
  margin: 0px;
  padding: 25px;
  background-color: black;
}
h1 {
  color: pink;
  text-align: center;
}
main {
  text-align: center;
}
